@import '../../../../styles/sass/config';

.section-join {

  width: 100%;

  background-color: $color--delta;
  color: $text-color--alpha;
  overflow: hidden;

  &__content {
  margin: gutter(3) auto gutter(2) ;
  padding: 0 gutter(1);
  width: 100%;
  max-width: rem(800px);

    &__title {
      text-align: center;
      margin: gutter(2) auto;
      width: 100%;

      &__heading {
        color: $text-color--delta;
      }
    }

    &__body {
      text-align: center;
      margin: gutter(1) auto;
    }

  }

}
