@import '../../../../styles/sass/config';

.menu-button {
  position: relative;
  padding-bottom: gutter(0.25);
  white-space: nowrap;


  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: $text-color--beta;
    // outline: none;
  }


  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: rem(5px);
    background-color: $text-color--beta;
    left: 0;
    bottom: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s ease(in-sine) 0s, background-color 0.2s linear 0.2s;
  }

  &:active,
  &:hover,
  &:focus,
  &--active {
    &:after {
      transition-timing-function: ease(out-sine);
      transform: scaleX(1);
      transition-delay: 0s;
    }
  }

  &--active {
    &:after {
      background-color: $color--beta;
    }
  }

  &--active:active:focus {
    &:after {
      background-color: $text-color--beta;
    }
  }
}
